<div class="detail-wrapper">
    <div>
        <img src=<%=details.Poster%> alt=<%=details.Title%> />
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td><%=details.Title%></td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td><%=details.Year%></td>
                </tr>
                <tr>
                    <td>Plot</td>
                    <td><%=details.Plot%></td>
                </tr>
                <tr>
                    <td>Rated</td>
                    <td><%=details.Rated%></td>
                </tr>
                <tr>
                    <td>Released</td>
                    <td><%=details.Released%></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>