<div class="detail-wrapper">
    <div class="title">
        <h3><%=details.Title%></h3>
    </div>
    <div class="info-container">
        <div class="poster-wrapper">
            <img src=<%=details.Poster%> alt=<%=details.Title%> />
        </div>
        <div class="info-wrapper">
            <p><%=details.Plot%></p>
            <span class="lighter">Released <%=details.Released%></span>
            <br/>
            <span class="lighter">Rated <%=details.Rated%></span>

            <form method="POST" action="/favorites">
                <input hidden type="text" name="title" value="<%= details.Title %>">
                <input hidden type="text" name="rated" value="<%= details.Rated %>">
                <input hidden type="text" name="genre" value="<%= details.Genre %>">
                <button class="favorite-button" type="submit">Add to Favorites</button>
            </form>  
        </div>
    </div>
    
</div>