<div class="animes-container">
    <% animes.forEach(anime => { %>
        <a class="anime-wrapper" href="anime/<%=anime.imdbID%>">
            <h4><%=anime.title%></h4>
            <div class="anime-poster">
                <img src=<%=anime.Poster%> alt=<%=anime.title%> />
            </div>
            <span><%=anime.Year%></span>
        </a>
    <% }) %>
</div>
